output/sort.exe
output/a.exe
output/arvoreBinaria.exe
output/bubble_sort.exe
output/insertion_sort.exe
output/intercalar.exe
output/merge_sort.exe
output/mergesort2.exe
output/no.exe
output/quick_sort.exe
output/selection_sort.exe
output/shell_sort.exe
